
.panic_container {
    text-align: center;
    padding: 1em 0em;
    background-color: #faa;
}

.panic_button {
    float: right;
    display: inline-block;
    background-color: #f00;
    height: 100%;
    padding: 0em 1em;
    color: #fff;
    text-decoration: none;
}

